body 
{
    margin: 0 auto;
    width: 1200px;
    padding: 10px;
    background-color:#422f25;
    font-family: 'Matura MT Script Capitals';
    font-size:20px;
    padding: 10px;
    
}

a {
    display: inline-block;
    letter-spacing: 1px;
    border: 3px solid black;
    font-family: 'Modern No. 20';
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-emphasis: none;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    font-size:10px;
    color:white;
}

#sector1
{
   border:5px solid black;
   float: right;
   background-color: tan;
   padding-left: 10px;
  
}

nav {
    border: 2px solid black;
    background-color: grey;
    color: white;
    text-decoration: none;
    text-emphasis: none;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}