

.floated_img
{
    float:left;
    display:inline-block;     
    width: 300px;        
    padding:5px;
    
    
    
}

.container
{
    border-bottom: 3px solid gray;
    margin: 0 auto;
    width: 90%;  
    flex-wrap:wrap;
}

.floated_text{
    color:#ffffff;
    font-family: Arial;
    text-align:center;
    padding: 5px;
    
}

       body 
{
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    background-color:#422f25;    
    font-size:20px;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1{
font-family: 'Matura MT Script Capitals';
}



nav{
   
    border:2px solid black;
    background-color:grey;
    color:white;
    text-decoration:none;
    text-emphasis:none;
    padding: 10px;
}
footer{
    font-size:10px;
    color:white;
    text-align:center;

}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    display: inline-block;
    letter-spacing: 1px;
    border: 2px solid white;
    font-family: 'Matura MT Script Capitals';
    padding: 4px;
    margin: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
}

