body {
    margin: 0 auto;

    font-size: 15px,2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("Images/mochabanner.jpg");
    background-size: auto;
    background-repeat: no-repeat; */
    background-color: black;
    /* width: 80%; */
    min-width: 1000px;
}

#cffLogo{
  position: relative;
  float: left;
  height: 100px;
  opacity: .8;
  padding: 5px;
}

#bgImageTop{
  background-position:center top;
  /* position:static; */
  background-size: cover;
  width: 100%;
  /* top: 200px; */

}
#discordWidget
{
    position: relative;
    float: left;
    /* padding: 100px; */
    /* left:0%;
    right:95%; */
   
}

#mainhead {
    text-align: center;
    line-height: 5px;
    letter-spacing: 4px;
    color: #ac5b40;
    padding:5%;
}
#main-content {
    width:1920px;
    align-content: center;
    margin:auto;
    font-size: 20px,2em;
    position: relative;
    color: whitesmoke;
    background-color: rgb(32,32,32);
    /* padding:10px; */
    text-align: start;

    
}
.navSidebar{
    background-color: #a04f34;
    border-radius: 5px;
    text-align:center;
    /* padding: 3px; */
    width: 100%;
    /* left: 10%; */
    position:relative;
    display:inline-block;
}

a {
    display: inline-block;
    font-size: 15px, 2em;
    letter-spacing: 1px;
    padding: 10px;
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    text-emphasis: none;
    /* opacity: .8; */
}
    a:hover {
        color: wheat;
        /* border: 1px white solid; 
        background-color: #ac5b40;
     */
    }

#followTwitterNav{
    position: relative;
    float:right;    
  }

#bottomBar {
    /* background-color: black; */
    color: whitesmoke;
    position:static;
    width: 100%;
    font-size: 20px,2em;
    display: inline-block;
    text-align:center;
    /* opacity:.75; */
}

#imageBannerLeft{
    clip-path: circle(100%);
    top:0%;
    left: 100%;
    position: absolute;
    width: 400px;
    /* height: 200px; */
    overflow: none;
    object-fit: cover;
    image-rendering: pixelated;
    padding: 2px;
}

#imageBannerRight{
    clip-path: view-box(200px, 1200px);
    top:0%;
    right: 100%;
    position: absolute;
    height: 100%;
    width: 500px;
    /* height: 200px; */
    overflow: none;
    object-fit: cover;
    image-rendering: pixelated;
    padding: 2px;
    
}

#textArea{
    width: 55%;
    padding: 10px;
    float: right;
    text-justify: auto;
    
    
}