body {
    margin: 0 auto;
   
    font-size: 15px,2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("Images/mochabanner.jpg");
    background-size: auto;
    background-repeat: no-repeat; */
    background-color: black;
    width: 75%;
    min-width: 1200px;
}

#cffLogo{
  position: relative;
  float: left;
  height: 100px;
  opacity: .8;
  padding: 10px;
}

#bgImageTop{
  background-position:center top;
  /* position:static; */
  background-size: cover;
  /* clip: rect(0px, 400px, 900px, 0px); */
  width: 100%;
  /* top: 200px; */

}
#discordWidget
{
    position: fixed;
    padding: 100px;
    left:0%;
    right:95%;
   
}

#mainhead {
    text-align: center;
    line-height: 5px;
    letter-spacing: 4px;
    color: #ac5b40;
    padding:25px;
}
#main-content {
    min-width: 300px;
    margin:auto;
    font-size: 20px,2em;
    position: relative;
    color: whitesmoke;
     background-color: rgb(32,32,32);
    /* width: 100%; */
     padding:10px;
   text-align: start;

    
}
.navSidebar{
    /* background-color: #a04f34; */
    /* border-radius: 25px; */
    text-align:center;
    /* padding: 3px; */
    width: 100%;
    /* left: 10%; */
    position:relative;
    display:inline-block;
}

a {
    display: inline-block;
    font-size: 15px, 2em;
    letter-spacing: 1px;
    padding: 10px;
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    text-emphasis: none;
    /* opacity: .8; */
}
    a:hover {
        color: wheat;
        /* border: 1px white solid; 
        background-color: #ac5b40;
     */
    }

#followTwitterNav{
    position: relative;
    float:right;    
  }

#bottomBar {
    /* background-color: black; */
    color: whitesmoke;
    position:static;
    width: 100%;
    font-size: 20px,2em;
    display: inline-block;
    text-align:center;
    /* opacity:.75; */
}

#imageBannerLeft{
   
    clip: rect(1200,100);

    overflow: hidden;
    position: absolute;
    top:0%;
    right: 90%;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    float: left;
    left: 100%;
    /* padding: 10px; */
}

#imageBannerRight{
    position: absolute;
    margin: auto;  
    width: auto;
    clip: rect(600, 1200);
    top:0%;
    right:90%;
    left: 0%;
    height: 1200px;
    /* max-width: width 300px; */
    image-rendering: optimizeSpeed;
    overflow:hidden;
    clip-rule: 200px;
    /* float: right; */
    right: 100%;
    /* padding: 10px; */
    
}