body {
    margin: 0 auto;
    font-size: 15px,2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /*background-image: url("Images/25.jpg");*/
    background-color: rgb(32,32,32);  
}

#mainhead {
    text-align: center;
    line-height: 5px;
    letter-spacing: 4px;
    color: #a04f34;
}

#main-content {
    /*max-width: 1500px;*/
    min-width: 300px;
    font-size: 20px,2em;
    position: relative;
    color: wheat;
    /*padding-left: 30px;*/
    width: 100%;    
    /*text-align:right;*/    
}

#textArea {
    padding-top:20px;
    padding-left: 30px;
    background-color: rgb(32,32,32);
}


.navSidebar{
    background-color: #a04f34;
    padding: 3px;
    /* position: relative; */
    width: 100%;
    /*top: 0%;
    left: 0%;*/
    display:inline-block; 
}

a {
    display: inline-block;
    letter-spacing: 1px;
    padding: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-emphasis: none;
}

    a:hover {
        color: wheat;       
    }

.twitter-timeline {
    position:fixed;
    float:right;
    padding-left: 20px;
    /*padding-top:50px;
    padding-bottom: 10px;*/   
}

#bottomBar {
    background-color: black;
    color: black;
    position: fixed;
    width: 100%;
    bottom: 0%;
    left: 0%;
    font-size: 15px;
    display: inline;
    text-align:center;
}


