body {
    background-color: #211a14;
    margin: 0 auto; 
    width:95%;
    padding:2px;
    
}

#twitch-embed{
    border-bottom: 3px solid orange;
    max-height:1200px;
    max-width:900px;
}

footer{
    font-size:8px;
    font-style:italic;
    color:white;
}